<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989819456096-9epil66iqiq43p557avsfq39c7g37j3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989819456096-9epil66iqiq43p557avsfq39c7g37j3r</string>
	<key>API_KEY</key>
	<string>AIzaSyCU4BBPhKILwYzxqon4d3CnjeA7IT5ie-4</string>
	<key>GCM_SENDER_ID</key>
	<string>989819456096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.e2i.motu</string>
	<key>PROJECT_ID</key>
	<string>motu-8ebcb</string>
	<key>STORAGE_BUCKET</key>
	<string>motu-8ebcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989819456096:ios:b15e191bd5ed9b56c1d105</string>
</dict>
</plist>